<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./View/Css/Login.css">
    <title>Document</title>
</head>
<body>
    <section class="main-login" style="display: flex; flex-direction: column;">
            <div class="card-login">
                <div class="btn-login">
                    <a href="/loginaluno" target="blank">
                        <label style="margin-left: 15px;">
                            Alunos
                        </label>
                    </a>
                </div>
            </div>
            <div class="card-login">
                <div class="btn-login">
                    <a href="/loginprofessor" target="blank">
                        <label style="margin-left: 15px;">
                            professsor
                        </label>
                    </a>
                </div>
            </div>
    
    </section>
</body>
</html>