<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login/View/Css/Login.css">
          
    <title>Document</title>
</head>
<body>
    <section class="main-login">
        <div>
            <img src="login/View/Img/Aluno.svg" alt="" class="image-login">
        </div>
        <form class="rigth-login" id="divFormulario">
            <div class="card-login">
                <div class="textfield">
                    <label>matricula:</label>
                    <input class="input" type="number" id="nbrMatricula">
                </div>
                <div class="textfield">
                    <label>senha:</label>
                    <input class="input" type="password" id="txtSenha">
                </div>
            </div>
            <div>
                <button class="btn-login" id="btnLogin">Login</button>
            </div>
        </form>
        
    </section>
</body>
<script src="login/View/Js/Login_Aluno.js">
</script>
</html>