body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    height: 8vh;
}
.menu{
    display: flex;
    list-style: none ;
    align-items: center;
}
.menu li{
    margin-right: 1em;
}
.menu li a{
    color: #eee;
    text-decoration: none;
    transition: 0.5s;
}
.menu li a:hover {
   font-size: 1.15em;
    transition: 0.5s;
    color: #ba55d3;  
}
.menu li a:active{
    font-size: 1.15em;
    transition: 0.5s;
    color: #33d333;   
}

section table{
    font-size: 1.5em;
    display: grid,flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}

section th{
    gap: 1.5em;
    text-align: center;
}
section td{
    text-align: center;
}