<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="professor/View/Css/Turmas.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/professorAluno">Aluno</a></li>
            <li><a href="/professorDisciplina">Disciplinas</a></li>
            <li><a href="/professorHistorico">Historico</a></li>
            <li><a href="/professorNota">Notas</a></li>
            <li><a href="/professor">Pofessores</a></li>
            <li><a href="/professorRevisao">Revisao</a></li>
            <li><a href="/professorTurma">Turma</a></li>
        </ul>
        
    </nav>
    <h1>Turmas</h1>
</body>
</html>